<?xml version="1.0"?>
<launch>

  <arg name="anygrasp_action_name" default="/mobipick/grasp_object" />
  <arg name="anygrasp_generate_action_name" default="/mobipick/generate_grasps" />
  <arg name="anygrasp_handles_execution" default="false" />
  <arg name="anygrasp_server_timeout" default="2.0" />
  <arg name="anygrasp_result_timeout" default="300.0" />
  <arg name="anygrasp_gripper_width_offset" default="0.0" />

  <!-- analytical pick object script using handcoded_grasp_planner -->
  <node pkg="grasplan" type="pick.py" name="pick_object_node" output="screen" >
    <param name="import_file" type="string" value="grasp_planner.handcoded_grasp_planner" />
    <param name="import_class" type="string" value="HandcodedGraspPlanner" />
    <param name="anygrasp_action_name" type="string" value="$(arg anygrasp_action_name)" />
    <param name="anygrasp_generate_action_name" type="string" value="$(arg anygrasp_generate_action_name)" />
    <param name="anygrasp_handles_execution" type="bool" value="$(arg anygrasp_handles_execution)" />
    <param name="anygrasp_server_timeout" type="double" value="$(arg anygrasp_server_timeout)" />
    <param name="anygrasp_result_timeout" type="double" value="$(arg anygrasp_result_timeout)" />
    <param name="anygrasp_gripper_width_offset" type="double" value="$(arg anygrasp_gripper_width_offset)" />
    <rosparam file="$(find mobipick_pick_n_place)/config/grasplan/pick_params.yaml" command="load" />
    <rosparam file="$(find mobipick_pick_n_place)/config/grasplan/grasp_planning_core_params.yaml" command="load" />
    <!-- grasp planner parameters -->
    <rosparam file="$(find grasplan)/config/grasp_planner/handcoded_grasp_planner/handcoded_grasp_planner_all_objecst.yaml"
              command="load" ns="handcoded_grasp_planner_transforms" />
  </node>

</launch>
