<?xml version="1.0"?>
<launch>

  <!-- rosbag full path -->
  <arg name="bag_path" default="" />
  <arg name="world_config" default="moelk_tables" doc="objects arrangement, options: moelk_tables, cic_tables, truck_assembly" />
  <arg name="yaml_path_to_read" default="$(find tiago_pick_n_place)/config/grasplan/planning_scene/$(arg world_config)_planning_scene.yaml" />
  <arg name="yaml_path_to_write" default="$(find tiago_pick_n_place)/config/grasplan/planning_scene/$(arg world_config)_planning_scene.yaml" />

  <!-- upload mobipick urdf model to param server -->
  <!-- <include file="$(find mobipick_description)/launch/mobipick/upload_mobipick_description.launch">
    <arg name="robot" value="mobipick-os" />
    <arg name="main_camera" value="astra" />
    <arg name="tf_prefix" value="mobipick" />
  </include> -->

  <!-- rqt to load/move/scale/save boxes in 3D space -->
  <node pkg="grasplan" type="rqt_planning_scene" name="rqt_planning_scene" output="screen">
    <param name="bag_path" type="string" value="$(arg bag_path)" />
    <param name="yaml_path_to_read" type="string" value="$(arg yaml_path_to_read)" />
    <param name="yaml_path_to_write" type="string" value="$(arg yaml_path_to_write)" />
  </node>

  <!-- launch rviz with custom config, send msgs to log and not to screen (tf errors will occur) -->
  <node pkg="rviz" type="rviz" name="rviz" output="log"
        args="-d $(find grasplan)/config/rviz/rqt_planning_scene.rviz"/>

  <!-- Node to set logger level of rviz and suppress tf warnings -->
  <node pkg="grasplan" type="set_rviz_logger_level.py" name="set_rviz_logger_level" output="screen" />

</launch>
