<?xml version="1.0"?>
<launch>

  <arg name="gripper_transforms_config_file"
       default="$(find mobipick_pick_n_place)/config/gripper_open_transformations.yaml" />
  <arg name="pose_array_topic" default="/mobipick/pick_object_node/grasp_poses" />
  <arg name="global_reference_frame" default="map"/>

  <!-- visualise grasps ( draws multiple brown grippers :1 per grasp ; as mesh in rviz using visualisation marker array ) -->
  <node pkg="grasplan" type="rviz_gripper_visualizer.py" name="rviz_gripper_visualizer" output="screen" >
    <param name="global_reference_frame" type="string" value="$(arg global_reference_frame)" />
    <rosparam file="$(arg gripper_transforms_config_file)" command="load" ns="gripper_transformations"/>
    <remap from="pose_array" to="$(arg pose_array_topic)"/>
  </node>

</launch>
